@model IEnumerable<Actividad4LegnProg3.Models.CalificacionesViewModel>

@{
    ViewData["Title"] = "Calificaciones";
}

<h1>Listado de Calificaciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Materia</th>
            <th>Nota</th>
            <th>Periodo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Estudiante?.Nombrecompleto</td>
                <td>@item.Materia?.Nombre</td>
                <td>@item.Nota</td>
                <td>@item.Periodo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
