@model IEnumerable<Actividad4LegnProg3.Models.EstudianteViewModel>

@{
    ViewData["Title"] = "Lista de Estudiantes";
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

<h4>Listado de Estudiantes</h4>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>NombreCompleto</th>
            <th>Matricula</th>
            <th>Carrera</th>
            <th>Correo Institucional</th>
            <th>Telefono</th>
            <th>Fecha de nacimiento</th>
            <th>Genero</th>
            <th>Turno</th>
            <th>Tipo de ingreso</th>
            <th>Está becado</th>
            <th>Porcentaje de beca</th>
            <th>Términos y condiciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var it in Model)
        {
            <tr>
                <td>@it.Nombrecompleto</td>
                <td>@it.Matricula</td>
                <td>@it.Carrera</td>
                <td>@it.CorreoInstitucional</td>
                <td>@it.Telefono</td>
                <td>@it.Fechadenacimiento.ToShortDateString()</td>
                <td>@it.Genero</td>
                <td>@it.Turno</td>
                <td>@it.Tipodeingreso</td>
                <td>@(it.Estabecado ? "Sí" : "No")</td>
                <td>@it.Porcentajedebeca %</td>
                <td>@(it.Terminosycondiciones ? "Aceptado" : "No aceptado")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@it.Matricula" class="btn btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@it.Matricula" class="btn btn-danger" onclick="return confirm('¿Seguro que quieres eliminar este estudiante?');">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
